/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message {
  color: black;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le texte de l'auteur */
.message p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style pour le texte du message */
.message p:nth-child(2) {
  margin-bottom: 5px;
}

/* Style pour la date du post */
.message p:last-child {
  font-size: 0.8em;
  color: #888;
}